<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume | Thien Ngoc Tran</title>
    <link rel="stylesheet" href="/stylesheet.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header id="header">
      <div class="header-inner">
        <a href="../index.html"
          ><h2 id="site-title">
            Thien Tran<span class="blinking-underscore"></span></h2
        ></a>

        <div class="hamburger" id="hamburger-menu">
          <i class="fa-solid fa-bars"></i>
        </div>

        <div class="nav">
          <a href="/index.html">Home</a>
        </div>
      </div>
    </header>

    <div id="container">
      <div id="main">
        <section id="section5">
          <h2>My Resume</h2>
          <iframe src="/Files/Resume.pdf" width="80%" height="600px">
            This browser does not support PDFs. Please download the PDF to view
            it:
            <a href="/Files/Resume.pdf">Download PDF</a>.
          </iframe>
        </section>
      </div>
    </div>

    <footer id="footer">
      <div>
        <h2>Contact Me</h2>
        <p>
          Email:
          <a href="mailto:tomtr1456@gmail.com">tomtr1456@gmail.com</a>
        </p>
        <p>
          Discord:
          <a href="https://discord.com/users/258595147288281089" target="_blank"
            >Zorki</a
          >
        </p>
        <p>
          LinkedIn:
          <a href="https://www.linkedin.com/in/thientrancs/" target="_blank">
            https://www.linkedin.com/in/thientrancs/
          </a>
        </p>
      </div>
    </footer>

    <footer id="belowFooter">
      <p>&copy; 2024 Tran Ngoc Thien</p>
    </footer>
  </body>
</html>
